[submodule "Engine/ThirdParty/ImGui"]
	path = Engine/ThirdParty/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Engine/ThirdParty/glfw"]
	path = Engine/ThirdParty/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Engine/ThirdParty/glew"]
	path = Engine/ThirdParty/glew
	url = https://github.com/nigels-com/glew.git
[submodule "Engine/ThirdParty/gtest"]
	path = Engine/ThirdParty/gtest
	url = https://github.com/google/googletest.git
